<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body class="log">
    <div class="container-fluid">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbarfixed-top sticky-top border-bottom border-dark shadow justify-content-evenly"
                id="top">
                <a id="top" class="navbar-brand" href="/welcome">
                    <h2 id="top">Eco-Encounters</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" id="top">
                    <span style="background-color: rgb(236, 215, 117);" class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel" style="background-color: rgb(236, 215, 117);">
                    <div class="offcanvas-header" style="background-color: rgb(236, 215, 117);">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"
                            style="background-color: rgb(236, 215, 117);">
                            Where to Next?</h5>
                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                            aria-label="Close" class="top" style="background-color: rgb(236, 215, 117);"></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: rgb(236, 215, 117);">
                        <ul class="navbar-nav justify-content-around flex-grow-1 pe-3"
                            style="background-color: rgb(236, 215, 117);">
                            {%if session['user_id']  %}
                                <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                    <a class="nav-link active " href="/passport/upload"
                                    style="background-color: rgb(236, 215, 117);">Ecosystem Passport!</a>
                                </li>
                            {% endif %}
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                <a class="nav-link active" href="land"
                                    style="background-color: rgb(236, 215, 117);">Land
                                    Ecosystems</a>
                            </li>
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                <a class="nav-link active" href="/water"
                                    style="background-color: rgb(236, 215, 117);">Water
                                    Ecosystems</a>
                            </li>
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                <a class="nav-link active" href="/animal/game"
                                    style="background-color: rgb(236, 215, 117);">Animal Trivia</a>
                            </li>
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                {%if session['user_id']  %}
                                    <a class="nav-link active" href="/logout" style="background-color: rgb(236, 215, 117);">Logout</a>
                                {%elif not session['user_id'] %}
                                    <a class="nav-link active" href="/user" style="background-color: rgb(236, 215, 117);">Login/Register</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container text-center">
                <div class="row justify-content-evenly mt-4">
                    <div class="col">
                        <form action="/register" method="post" class="form-floating border w-75 mx-auto shadow">
                            <p class="loginandreg">Register</p>
                        {% with errors = get_flashed_messages(category_filter=["reg_error"]) %}
                            {% if errors %}
                            <div class="alert-message block-message error">
                                {%for message in get_flashed_messages() %}
                                    <p class="text-danger fw-bolder">{{message}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                            <div class="form-floating mb-3 w-75 mx-auto">
                                <input type="text" name="first_name" id="floatingfirst_name" class="form-control"
                                    placeholder="First Name">
                                <label for="floatingfirst_name">First Name</label>
                            </div>
                            <div class="form-floating mb-3 w-75 mx-auto">
                                <input type="text" name="last_name" id="floatingfloating_lastname" class="form-control"
                                    placeholder="Last Name">
                                <label for="floatingfloating_lastname">Last Name</label>
                            </div>
                            <div class="form-floating mb-3 w-75 mx-auto">
                                <input type="email" name="email" id="floatingemail" class="form-control"
                                    placeholder="Email">
                                <label for="floatingemail">Email</label>
                            </div>
                            <div class="form-floating mb-3 w-75 mx-auto">

                                <input type="password" name="password" id="floatingpassword" class="form-control"
                                    placeholder="Password">
                                <label for="floatingpassword">Password</label>
                            </div>
                            <div class="form-floating mb-3 w-75 mx-auto">
                                <input type="password" id="floatingcomfirm_pass" class="form-control"
                                    placeholder="Confirm Password" name="confirm_password">
                                <label for="floatingcomfirm_pass">Confirm Password</label>
                            </div>
                            <button type="submit" class="btn btn-light">Submit</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="/login" method="post" class="form-floating border w-75 mx-auto shadow">
                            <p class="loginandreg">Login</p>
                            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                {% if errors %}
                                <div class="alert-message block-message error">
                                    {%for msg in get_flashed_messages() %}
                                        <p class="text-danger fw-bolder">{{msg}}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endwith %}
                            <div class="form-floating mb-3 w-75 mx-auto">
                                <input type="email" name="email" id="floatingemail" class="form-control"
                                    placeholder="Email">
                                <label for="floatingemail">Email</label>
                            </div>
                            <div class="form-floating mb-3 w-75 mx-auto">

                                <input type="password" name="password" id="floatingpassword" class="form-control"
                                    placeholder="Password">
                                <label for="floatingpassword">Password</label>
                            </div>
                            <button type="submit" class="btn btn-light">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>

</html>