<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Encounters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbarfixed-top sticky-top border-bottom border-dark shadow justify-content-evenly "
                id="top">
                <a id="top" class="navbar-brand" href="/welcome">
                    <h2 id="top">Eco-Encounters</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" id="top">
                    <span style="background-color: rgb(236, 215, 117);" class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel" style="background-color: rgb(236, 215, 117);">
                    <div class="offcanvas-header" style="background-color: rgb(236, 215, 117);">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"
                            style="background-color: rgb(236, 215, 117);">
                            Where to Next?</h5>
                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                            aria-label="Close" class="top" style="background-color: rgb(236, 215, 117);"></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: rgb(236, 215, 117);">
                        <ul class="navbar-nav justify-content-around flex-grow-1 pe-3"
                            style="background-color: rgb(236, 215, 117);">
                            {%if session['user_id']  %}
                                <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                    <a class="nav-link active " href="/passport/{{user.id}}"
                                    style="background-color: rgb(236, 215, 117);">Ecosystem Passport!</a>
                                </li>
                            {% endif %}
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                <a class="nav-link active" href="land"
                                    style="background-color: rgb(236, 215, 117);">Land
                                    Ecosystems</a>
                            </li>
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                <a class="nav-link active" href="/water"
                                    style="background-color: rgb(236, 215, 117);">Water
                                    Ecosystems</a>
                            </li>
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                <a class="nav-link active" href="/animal/game"
                                    style="background-color: rgb(236, 215, 117);">Animal Trivia</a>
                            </li>
                            <li class="nav-item" style="background-color: rgb(236, 215, 117);">
                                {%if session['user_id']  %}
                                    <a class="nav-link active" href="/logout" style="background-color: rgb(236, 215, 117);">Logout</a>
                                {%elif not session['user_id'] %}
                                    <a class="nav-link active" href="/user" style="background-color: rgb(236, 215, 117);">Login/Register</a>
                                {% endif %}
                            
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="body" class="container-fluid text-center">
                <p class="welcome-note">Welcome to Eco-Encounters! <br>Start exploring to learn more about all the wonderful things nature has to offer. <br> <a class="btn btn-outline-success" href="/user">Click here</a> to start an Eco-Passport where you can upload pictures of the nature you see everyday! </p>
                <p class="title">What is an Ecosystem?</p>
                <img src="{{url_for('static', filename='placeholder.jpeg')}}" / class="main_diagram">

                <h5>An ecosystem is a community of living things (like plants, animals, and insects) <br> that interact
                    with
                    each other and the environment (like air, water, and soil) to survive. <br> It's like a big puzzle
                    where
                    every piece is important for everything to work together!</h5>

                <h4>Which Ecosystem Would You Like to Explore?</h4>
                <div class="container d-flex justify-content-around">
                    <figure class="figure">
                        <a href="/water"><img src="{{url_for('static', filename='cartoon_water.png')}}" alt="ocean"
                                class="mainpage" /></a>
                        <figcaption>Water</figcaption>
                    </figure>
                    <h3>OR</h3>
                    <figure class="figure">
                        <a href="/land"><img src="{{url_for('static', filename='cartoon_land.png')}}" alt="forest"
                                class="mainpage" /></a>
                        <figcaption>Land</figcaption>
                    </figure>
                </div>


            </div>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>

</html>